<?xml version='1.0' encoding='utf-8'?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <!-- an ISessionFactory instance -->
  <session-factory>
    <!-- properties -->
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">
      Server=SQL1\I1,1433;initial catalog=SecurityIQDB5;User=SecurityIQ_User;Password=MIIBHQYJKoZIhvcNAQcDoIIBDjCCAQoCAQAxgccwgcQCAQAwLTAZMRcwFQYDVQQDEw5XQlgtTmhpYmVybmF0ZQIQHUq/Jy1udbNF60rJTcsc7jANBgkqhkiG9w0BAQEFAASBgJt22NvddYBLTimXIBsC4kpWVk4XUDTMgxt0vHHPp/dUiqceI8mDg1x/GPLSbVV/z/VG8PJxRUNN8pdXpN09DU2ouWbR4zR00HyBv85ucKrU2Nv0bM7oGfQiWxZZp+KDFbIXeIHOmpuOWB0mz8B9ioa/NBt9Xd2OIfdL1Q3StcZZMDsGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI9MGH1C2iKTuAGI1VWiHKZzyhKwU/Kqbo6CXGOU18j08IzA==;Pooling=true
    </property>
    <property name="show_sql">false</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="command_timeout">0</property>
    
    <!-- mapping files -->
    <mapping assembly="WBX.NHibernateDAO" />

  </session-factory>
</hibernate-configuration>